[[source]]
name = "pypi"
url = "https://pypi.org/simple"
verify_ssl = true

[dev-packages]
black = "*"
aiohttp-debugtoolbar = "*"
aiohttp-devtools = "*"

[packages]
keyboard = "*"
simple-pid = "*"
numpy = "*"
pybullet = "*"
gym = "*"
statsmodels = "*"
aiohttp = "==3.5.4"
aiohttp-jinja2 = "==1.1.1"
aiohttp-session = {extras = ["secure"], version = "==2.7.0"}
asyncpg = "==0.18.3"
pydantic = "==0.25"

[requires]
python_version = "3.7"

[pipenv]
allow_prereleases = true
