[[source]]
name = "pypi"
url = "https://pypi.org/simple"
verify_ssl = true

[dev-packages]
ipykernel = "*"
pylint = "*"
ipython = "*"
gym = "*"
graphviz = "*"

[packages]
pybullet = "*"
numpy = "*"

[requires]
python_version = "3.5"
