{% extends "base.j2" %}
{% block title %}{{ title }}{% endblock %}
{% block head %}
{{ super() }}
<style type="text/css">
    .important {
        color: #336699;
    }
</style>
{% endblock %}

{% block content %}
<div class="grid-container fluid"></div>
<div class="grid-x grid-padding-x">
    <div class="cell medium-6 large-4">
        <a class="button success" href="#">Start</a>
        <a class="button alert" href="#">Stop</a>
        <!-- <a class="button primary" href="#">Primary</a> -->
        <!-- <a class="button secondary" href="#">Secondary</a> -->
        <!-- <a class="button warning" href="#">Warning</a> -->
    </div>
</div>
</div>
{% endblock %}